.container {
  padding: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;

  @media screen and (max-width: 545px) {
    grid-template-columns: 1fr;

    padding: 1em 0 0;
  }
}
